
.About {
    text-align: center;
    font-family: Monospace;
}


.footer
{
    font-size: small;
    color: gray;
}

.card-title
{
        color: red;
}


.activeAnimation
{
        width: auto;
        height: auto;
        position: relative;
        -webkit-animation: card-move 6s;
        -moz-animation:    card-move 6s;
        animation:         card-move 6s;
}

@keyframes card-move {
    from { opacity: 0;}
    to { opacity: 1;}
}
@-webkit-keyframes card-move {
    from { opacity: 0;}
    to { opacity: 1;}
}
@-moz-keyframescard-move {
    from { opacity: 0;}
    to { opacity: 1;}
}
