

body {
    width: 100%;
    height: 100%;
    font-family: Monospace;
}

html {
    width: 100%;
    height: 100%;
    font-family: Monospace;
}


.intro-section {
    padding-top: 3%;
    height: 100%;
    text-align: center;

}

.fuelmix-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
}

.lmp-section{
    height: 100%;
    padding-top: 50px;
    text-align: center;
}

.about-section{
    height: 100%;
    padding-top: 50px;
    text-align: center;
}
