.Home {
    text-align: center;
    font-family: Monospace;
}

.Home-header {
    height: auto;
    padding: 20px;
}

.Home-intro{
        font-size: medium;
}

.blockquote, .blockquote-footer {
    text-align: left;
}


.Home-logo {
    width: auto;
    height: auto;
    position: relative;
    -webkit-animation: Home-logo-move 5s infinite;
    -moz-animation: card-title-move 5s infinite;
    animation: Home-logo-move 5s infinite;
    animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
}

@keyframes Home-logo-move {
      from {
          -webkit-transform: rotate(30deg) translateX(200px);
          transform: rotate(30deg) translateX(200px);
          opacity: 0;
          }

      to {
          -webkit-transform: rotate(0) translateX(0);
          transform: rotate(0) translateX(0);
          opacity: 1;
        }
}
@-webkit-keyframes Home-logo-move {
      from {
          -webkit-transform: rotate(30deg) translateX(200px);
          transform: rotate(30deg) translateX(200px);
          opacity: 0;
        }

      to {
          -webkit-transform: rotate(0) translateX(0);
          transform: rotate(0) translateX(0);
          opacity: 1;
        }
}
@-moz-keyframes Home-logo-move {
      from {
          -webkit-transform: rotate(30deg) translateX(200px);
          transform: rotate(30deg) translateX(200px);
          opacity: 0;
        }

      to {
          -webkit-transform: rotate(0) translateX(0);
          transform: rotate(0) translateX(0);
          opacity: 1;
        }
}
