
.brand
{
    width: 100px;
    height: 100px;
}

.navbar-right
{
    text-align: right;
}


@media(min-width:767px) {
    .navbar {
        -webkit-transition: ease-in-out,padding .5s ease-in-out;
        -moz-transition: ease-in-out,padding .5s ease-in-out;
        transition: ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}
